@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.background{
 position: relative;
 width: 100%;
 height: 450px;
 background-repeat: no-repeat;
 background-size: cover;
 background-image:linear-gradient(to top, rgba(253,171,84,.9),rgba(185,84,112,0.9)),url("../images/bg1.jpg");;
}
.elegant_img{
  position: relative;
}

.liner-background{
  padding-top: 100px;
  color:white;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;

}
.get_started_button{
  background-color: #ab2f52;
  border-radius: 25px;
  border: 1px solid transparent !important;
  text-size-adjust: 100% !important;
  z-index: 5;
}

.container_cards{

 text-align: center;
 margin: auto;
  width: 100%;
  border: 3px ;
  padding: 10px;
}
.card_coloum_l{
 padding: 0;
 margin: 0;
}
.card_coloum_r{

  padding: 0;

}
.card_coloum_b{
  padding: 0;

}

.card{
  margin: auto;
  width: 100%;
  padding: 3px;
  margin-top: 10px;
  color: rgba(144,144,144,255);
  box-shadow: 10px 5px 5px rgb(243, 242, 242);
  border: 1px solid transparent !important;
  text-align: center;

}


.intro_paragraph{
  padding-bottom: 20px;
}
.intro_image{
  padding-top: 20px;;
}
.intro_button{
  padding-left: 20px;
}

.contact_us
{
 position: relative;
 width: 100%;
 height: 450px;
 background-image: url("../images/bg1.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 height: 50vh;
 overflow: hidden;
 background-color: rgba(3, 3, 3, 0.863);
 background-blend-mode: soft-light;
 padding-top: 80px;

}
.developer_msg{
  text-align: center;
  z-index: 10;
  color: rgba(249,249,250,255);
  width: 100%;


}
.dev_msg_chat_icon{
 color: #ab2f52 !important;
 height: 40px !important;
 padding-bottom: 100px;
}
.dev_msg_text{
  padding-top: 20px;
}
.spacecreater
{
  height : 100px;
  max-width: 100%;
}
.Auther-name{
  color:rgba(234,161,77,255);
  text-align: center;
  z-index:10;
}
.Auther{
  color: white;
  text-align: center;
  z-index: 5;
}
.contactmore{
  color:rgba(171,47,82,255);
  text-align: center;
  z-index:10;
}
.container_gallery{

max-width: 100%;
}
.contact_icons{
  color: rgba(171,47,82,255);
}
.undercontactline{
  color:darkgray;
  text-align: center;
  z-index:10;
}
.bi bi-telephone-fill{
  align-items: center;
}
.form{
  border-top: none;
  outline: none;
}
.send_button{
  background-color: rgba(171,47,82,255) !important ;
  border-radius: 25px;
  border: 1px solid transparent !important;
  text-size-adjust: 50% !important;
  position: relative;

}
.forminputs{
  border: 1px solid transparent !important;
  border-bottom: 1.5px solid gray !important;
  color: rgba(199,199,199,255);
}
.forminputmsg{
  border: 1px solid transparent !important;
  border-bottom: 1.5px solid gray !important;
  width: 100%;
  color:rgba(199,199,199,255);
}
.aboutimage{
  position:relative;
  size: auto;
  width:100%;
  height: auto;
}
.about_yellow_text{
  color:rgba(255,175,83,255);
  font-weight: bold;
}
.seprator_line{
  width:5%;
  height: 3px;
  background-color:rgba(171,47,82,255);
  box-shadow: 10px 5px 5px rgb(243, 242, 242);

}.button_learn_more
{
  color: white;
  background-color: rgba(255,175,83,255);
  display: block;
}
.card_icons
{
  color:rgba(255,175,83,255);
  font-size: 50px;
  font:bold;
}
.cards_bg_box{
  background-color: rgba(250,250,250,255);
}

.nav-link{
  color:white !important ;
}
.navhome{
  color: rgba(255,175,83,255) !important;
}
.form_container{
  position: relative;

}
.text{
  text-align: center;
}
.navbar_toggle{
  padding-left: 50px;

}

.container_pictures{
  width :100%;
  overflow-x: hidden;

}
.coloum_pictures{
  padding: 0;

}

.picture_itself{
  height:400px;
  width: 688.89px;
  object-fit: fill !important;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;

}
.text-center{
  width: 100%;
}
